@import "../../../components/baseline/baseline";
.bl-reset();


//COLORS------

  @bg: #fdfdfd;
  @color-link: #900;
  @color-border: darken(@bg, 15);
  body {
    background: @bg;
    color: #333;
  }

  a {
    color: @color-link;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

//------------


//LAYOUT------

  .wrapper {
    width: 800px;
    margin: 0 auto;
  }

//------------


//SPACING-----

  @spacing-small: 5px;
  @spacing-medium: 20px;
  @spacing-large: 40px;

  h1 {
    margin: @spacing-large 0;
  }

  h2 {
    margin: @spacing-large 0;
  }

  h3 {
    margin: @spacing-medium 0;
  }

  p {
    margin: @spacing-medium 0;
  }

//------------


//TYPOGRAPHY--

  @font-body: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  @font-headline: Georgia, Times, serif;

  body {
    font-family: @font-body;
    font-size: 18px;
    line-height: 28px;
  }

  h1,
  h2 {
    font-family: @font-headline;
  }

  h1 {
    font-size: 46px;
    font-weight: 500;
  }

  h2 {
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
  }

  h3 {
    font-size: 20px;
    font-weight: 200;
  }

  pre {
    font-size: 15px;
  }

  .wrapper {
    ul {
      margin: 20px 0 20px 20px;
      list-style: square;
    }
  }

//------------


//STYLES------

  h2 {
    border-bottom: 1px solid @color-border;
    padding-bottom: 10px;
  }

//------------


//FOOTER------

  .footer {
    margin: 140px 0 10px;
    font-size: 14px;
    padding-top: 10px;
    border-top: 1px solid @color-border;
    .built-with {
      float: right;
    }

  }

//------------

//TOC---------

  #toc {
    font-size: 15px;
    position: fixed;
    top: 90px;
    width: 200px;
    right: 0;
    background: darken(@bg, 1);
    border: 1px solid darken(@bg, 5);
    border-right: 0;
    a {
      padding: 1px 10px;
      display: block;
    }

    .toc-h3 {
      padding-left: 10px;
    }

    .toc-h4 {
      padding-left: 20px;
    }

    .toc-active {
      background: darken(@bg, 5);
    }
  }

//------------

//RIBBON------
  .ribbon {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
  }
//------------

//QUERIES-----

  @media only screen and (max-width: 800px) {
    .wrapper {
      width: 90%;
    }
  }
  @media only screen and (max-width: 1020px) {
    #toc {
      display: none;
    }
  }

  @media only screen and (max-width: 1199px) {
    .wrapper {
      margin: 0 20px;
    }
  }
  @media only screen and (min-width: 1200px) {
    #toc {
      display: block;
    }
  }

//------------

.twitter-share-button,
.twitter-follow-button {
  margin: 10px 10px 0 0;
  float: right;
}

.embed {
  width: 100%;
  height: 300px;
}

/*@import "../../_syntax/github";*/
@import "../../_syntax/base16-tomorrow";

