<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <head>
    <title><%= locals.pageTitle || "" %></title>
    <link rel="stylesheet" href="public/common.css"/>
    <% if (locals.analytics) { %>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= locals.analytics %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    <% } %>
  </head>
  <body>
    <% if (locals.github) { %>
      <a data-clickd-action="Fork" href="http://<%= locals.github %>"><img style="position: absolute; top: 0; right: 0; border: 0;" src="ui/ribbon.png" alt="Fork me on GitHub"></a>
    <% } %>
    <div class="wrapper">
      <%- body %>
      <div class="footer">
        <div class="built-with">Built with <a href="https://github.com/jgallen23/ghpage">ghpage</a></div>
        <% if (locals.builtBy) { %>
          <%= locals.builtBy %>
          <% if (locals.builtTwitter) { %>
            <a href="http://twitter.com/<%= locals.builtTwitter %>">@<%= locals.builtTwitter %></a>
          <% } %>
        <% } %>
      </div>
    </div>
    <script src="public/common.js"></script>
  </body>
</html>
